* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto 0 auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
