.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.country__card {
  width: 260px;
  height: 380px;
  margin: 2rem;
  background-color: #fff;
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1.6px 1.6px rgb(0 0 0 / 2%), 0 3.8px 3.8px rgb(0 0 0 / 3%),
    0 6.9px 6.9px rgb(0 0 0 / 4%), 0 11.4px 11.4px rgb(0 0 0 / 5%),
    0 18.8px 18.8px rgb(0 0 0 / 6%), 0 32.8px 32.8px rgb(0 0 0 / 7%),
    0 71px 71px rgb(0 0 0 / 9%);
}

.country__card:hover {
  transform: scale(1.1);
}

.country__flag {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
}

.country__flag img {
  width: 120px;
  height: 120px;
}
